<h1>Product</h1>
<%= image_tag ("/assets/mockup/" + @product.image), class: "img-responsive"%>
<%= @product.image%>
<strong>Name: </strong>
<%=@product.name%>
<strong>Quantity: </strong>
<%=@product.quantity%>
<strong>Price: </strong>
<%=@product.price%>
<strong>Status: </strong>
<%=@product.status%>